<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h1>
    <%= title %>
  </h1>
  <p>Welcome to <%= title %>
  </p>

  <ul>
    <%for (let i=0; i < messages.length; i++){%>
      <li>
        <span>
          <strong>
            <%=messages[i].username%>:
          </strong>
        </span>
        <span>
          <%=messages[i].message%>
        </span>
        <span class="message-date">
          (<%=messages[i].message_timestamp %>)
        </span>
      </li>
      <%}%>
  </ul>

  <a href="/new">Click here to add a new message</a>
</body>

</html>